body {
   margin: 0;
}

#blocpage {
	width:100%;
	height:100%;
	display:flex;
	flex-direction:row;
}

a{
	color: #37474F;
	text-decoration : none;
}

/* left */

#left {
	width:30%;
	display: flex;
	flex-direction: column;
	background-color:#BDBDBD;
	font-family: 'Josefin Sans', sans-serif;
	color:#37474F;
}

#left1 {
	width:100%;
	padding-right:4%;
}

img {
 	width: 70%;
 	border-radius:50%;
 	border:0.5px solid #f1f1e8;
 	margin-left:auto;
 	margin-right:auto;
 	display:block;
 	padding:5%;
 	background-color: #37474F;
}

#left2 {
	width:100%;
	padding-top:0;
}

#left4 {
	width:100%;
}

.titleL {
	text-align:center;
	width:100%;
	background-color:#FBC02D;
	padding-top:4%;
	padding-bottom:4%;
	color:#37474F;
}

.paddingleft {
	padding-left:2%;
}

.formleft {
	font-size:1.5em;

}

#formleft2 {
	width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    font-size:3em;
}







/* middle */

#middle {
	width:60%;
	display:flex;
	flex-direction:column;
	background-color:#E1F5FE;
	padding:3%;
    font-family: 'Josefin Sans', sans-serif;
    color:#37474F;
}
#middle1 {
	margin-bottom:4%;
}

#middle2 {
	margin-bottom:5%;
	width:100%;
	display:flex;
	flex-direction:column;
}

#for1{
	display:flex;
	flex-direction:row;
	width:100%;
	display:flex;
	flex-direction:row;
}

#fordate1 {
	width:40%;
}

#forname1 {
	text-align:right;
	margin-top:-2%;
}

#for2{
	display:flex;
	flex-direction:row;
	width:100%;
}

#fordate2 {
	width:40%;
}

#forname2 {
	text-align:right;
	margin-top:-2%;
}

#for3{
	display:flex;
	flex-direction:row;
	width:100%;
}

#fordate3 {
	width:40%;
}

#forname3 {
	text-align:right;
	margin-top:-2%;
}

#for4{
	display:flex;
	flex-direction:row;
	width:100%;
}

#fordate4 {
	width:40%;
}

#forname4 {
	text-align:right;
	margin-top:-2%;
}


#middle3 {
	margin-bottom:5%;
}

#exp1{
	display:flex;
	flex-direction:row;
	width:100%;
	display:flex;
	flex-direction:row;
}

#expdate1 {
	width:40%;
}

#expname1 {
	text-align:right;
	margin-top:-2%;
}

#exp2{
	display:flex;
	flex-direction:row;
	width:100%;
}

#expdate2 {
	width:40%;
}

#expname2 {
	text-align:right;
}


#exp3{
	display:flex;
	flex-direction:row;
	width:100%;
}

#expdate3 {
	width:40%;
}

#expname3 {
	text-align:right;
}


.fontname {
	color:#FBC02D;
}


#middle h1 {
	font-size:2em;
}

#middle h3 {
	color:#FBC02D;
	margin-bottom:5%;
	font-size:1.5em;
	width:80%;
	border-bottom: 1px solid #FBC02D
}


#lignetitle {
	text-decoration:underline;
	text-decoration-color:#FBC02D; 
}

#middle3 {
	width:100%;
}

#middlerec {
	width:80%;
	display:flex;
	flex-direction:row;
	justify-content: space-between;
}

#middlerec h4 {
	font-weight: bold;
}



/* right */

#right {
	width:10%;
	display:flex;
	flex-direction:row;
}

#right1 {
	width: 30%;
	background-color:#FBC02D;
}

#right2 {
	width:70%;
	background-color: #37474F;

}





/* media queries */

@media only screen and (max-width: 780px){

#blocpage {
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
	overflow: hidden;
}

a{
	color: #37474F;
	text-decoration : none;
}

/* left */

#left {
	width:100%;
	display: flex;
	flex-direction: column;
	background-color:#BDBDBD;
	font-family: 'Josefin Sans', sans-serif;
	color:#37474F;
	margin-top:2%;
	order:2;
}

#left1 {
	width:100%;
	padding-right:4%;
	text-align:center;
	padding-top:2%;
}

img {
 	width: 30%;
 	border-radius:50%;
 	border:0.5px solid #f1f1e8;
 	display:block;
 	padding:1%;
 	background-color: #37474F;
}

#left2 {
	width:100%;
	padding-top:0;
}

#left3 {
	text-align:center;
}

#left4 {
	width:100%;
}

.titleL {
	text-align:center;
	width:100%;
	background-color:#FBC02D;
	padding-top:2%;
	padding-bottom:2%;
	color:#37474F;
}

.paddingleft {
	padding-left:2%;
}

.formleft {
	font-size:1.5em;

}

#formleft2 {
	width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    font-size:3em;
}







/* middle */

#middle {
	width:100%;
	display:flex;
	flex-direction:column;
	background-color:#E3F2FD;
    font-family: 'Josefin Sans', sans-serif;
    color:#37474F;
    font-size:smaller;
    order:1;
}

#middle1 {
	margin-bottom:4%;
	text-align:center;
}

#middle2 {
	margin-bottom:5%;
	width:100%;
	display:flex;
	flex-direction:column;
}

#for1{
	display:flex;
	flex-direction:row;
	width:90%;
	display:flex;
	flex-direction:row;
}

#fordate1 {
	width:40%;
}

#forname1 {
	text-align:right;
	margin-left:10%;
	margin-top:-2%;
}

#for2{
	display:flex;
	flex-direction:row;
	width:90%;
}

#fordate2 {
	width:40%;
}

#forname2 {
	text-align:right;
	margin-left:10%;
	margin-top:-2%;
}

#for3{
	display:flex;
	flex-direction:row;
	width:90%;
}

#fordate3 {
	width:40%;
}

#forname3 {
	text-align:right;
	margin-left:10%;
	margin-top:-2%;
}

#for4{
	display:flex;
	flex-direction:row;
	width:90%;
}

#fordate4 {
	width:40%;
}

#forname4 {
	text-align:right;
	margin-left:10%;
	margin-top:-2%;
}


#middle3 {
	margin-bottom:5%;
}

#exp1{
	display:flex;
	flex-direction:row;
	width:90%;
	display:flex;
	flex-direction:row;
}

#expdate1 {
	width:40%;
}

#expname1 {
	text-align:right;
	margin-left:10%;
	margin-top:-2%;
}

#exp2{
	display:flex;
	flex-direction:row;
	width:90%;
}

#expdate2 {
	width:40%;
}

#expname2 {
	text-align:right;
	margin-left:10%;
	margin-top:-2%;
}


#exp3{
	display:flex;
	flex-direction:row;
	width:90%;
}

#expdate3 {
	width:40%;
}

#expname3 {
	text-align:right;
	margin-left:10%;
	margin-top:-2%;
}


.fontname {
	color:#FBC02D;
}


#middle h1 {
	font-size:2em;
}

#middle h3 {
	color:#FBC02D;
	margin-bottom:5%;
	font-size:1.5em;
}


#lignetitle {
	text-decoration:underline;
	text-decoration-color:#FBC02D; 
}

#middle3 {
	width:100%;
}

#middlerec {
	width:80%;
	display:flex;
	flex-direction:row;
	justify-content: space-between;
}

#middlerec h4 {
	font-weight: bold;
}

#middlerec {
	width:60%;
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	font-size:small;

}

#rec1 {
	margin-right:20%;
}

#middlerec h4 {
	font-weight: bold;
}

/* right */

#right {
	width:100%;
	display:flex;
	flex-direction:row;
	background-color:green;
	order:3;
}

#right1 {
	width: 30%;
	background-color:#FBC02D;
}

#right2 {
	width:70%;
	background-color: #37474F;

}

}










